<!DOCTYPE html>
<html>
    <head>
        <style>
                      table,th,td{
                        border-collapse: collapse;
                      }
                      .btn2{
                            background-color: #4CAF50; /* Green */
                            border: none;
                            color: white;
                            padding: 2px 2px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 14px;
                    }
                    .style{
                        text-align: left;
                    }

        </style>
    </head>
    <body>
        <table border='1px' width="1070px" height='100' >
            <tr>
                <th >
                    <img src="logo.png" alt="logo.png">
                </th>
                <th>
                    <p style="font-size:18px;padding:0;margin: 0;color:red">S.A. Consultants & Forwarders Pvt. Ltd</p>
                    Head Office :- L-2 KANCHENJUNGA BUILDING, 18
                    BARAKHAMBA ROAD
                    Delhi, Delhi 110001
                    Email :-info@sagroupindia.com
                </th>
                <th>
                    Contact Person :-Super Admin
                    Email ID :-it@logycode.com
                    Contact Number :-9811226990
                </th>
            </tr>
            <tr>
                <td colspan=3 style="background-color: dimgray;color: floralwhite;">
                    Query :-
                </td>
            </tr>

        </table>
        <table  border='1px' width="1070px" height='100' >
            <tr>
                <th style="width:100px" >
                    Job No: <%= data.name %>
                </th>
                <th  colspan="2" class="style">
                    AE-DEL-19-0043170(DEL-DXB)
                </th>
            </tr>
            <tr>
                <th>
                    Origin
                </th>
                <th  colspan="2" class="style">
                    DEL, Delhi (India)
                </th>
            </tr>
            </tr>
            <tr>
                <th>
                    Destination
                </th>
                <th  colspan="2" class="style">
                     DXB, Dubai (United Arab Emirates)
                </th>
            </tr>
            </tr>
            <tr>
                <th>
                    Currency
                </th>
                <th  colspan="2" class="style">
                    INR
               </th>
           </tr>

            </tr>
            <tr  rowspan="3" >
                <th>
                    Query Summary
                </th>
                <th class="style">
                    121Pcs / 235Kgs Gr.wt / sflkj / 235 Kgs Vol.wt /
                </th>

            </tr>
            <tr>
                <th>
                    Rate Validity :
                </th>
                <th  colspan="2" class="style">
                    07-01-2020
               </th>
           </tr>
            <tr>
                <td colspan=3 style="background-color: dimgray;color: floralwhite;">
                    Quotes :-
                </td>
            </tr>

        </table  border='1px' width="1070px" height='100' cellspacing='0'>
        <table border='1px' width="1070px" height="40px" cellspacing='0'>
            <tr>
                <th width="118" >Airline Name</th>
                <th width="63">
                    Tarrif Type
                </th>
                <th>
                    Slab
                </th>
                <th >
                    Publish
                </th>
                <th>
                    Deal
                </th>
                <th width="60" >
                    Net Net
                    Rates
                </th>
                <th width="60">
                    Freight
                    Amount
                </th>
                <th width="44">
                    SSC
                </th>
                <th>
                    X-Ray
                </th>
                <th>
                    MSC
                </th>
                <th>
                    AMS
                </th>
                <th width="40">
                    FSC
                </th>
                <th>
                    MISC
                </th>
                <th>
                    AWB
                </th>
                <th width="70" >
                    Total
                </th>
                <th width="76" style="font-size:15px;">
                    Special
                   Remarks
                </th>
                <th width="92" style="color:red;">
                    ACTIONS

                </th>


            </tr>

        </table>
                    <!-- Etihad Airways Deal 250 76.00 46 41.04 10260.00 -->

        <table border="1"  width="1070px"  cellspacing='0'>
            <tr>
                <th  width="118px" class="style">
                    Etihad Airways


                </th>
              <th width="63">Deal</th>
              <td width="39">250</td>
              <td width="65">76.00</td>
              <td width="40">46</td>
              <td width="60">41.04</td>
              <td width="60">10260.00</td>
              <td width="32">41.0/C</td>
              <td width="57">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="40">41./C</td>
              <td width="54">41.0/C</td>
              <td width="48">41.0/C</td>
              <td width="70" >
            </td>
              <td width="75"></td>
              <td width="90">

                <button class="btn2">Confirmation</button>
              </td>

            </tr>
        </table >

        <table border="1"  width="1070px"  cellspacing='0'>
            <tr>
                <th  width="118px" class="style">
                    Air India


                </th>
              <th width="63">Deal</th>
              <td width="39">250</td>
              <td width="65">76.00</td>
              <td width="40">46</td>
              <td width="60">41.04</td>
              <td width="60">10260.00</td>
              <td width="32">41.0/C</td>
              <td width="57">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="40">41./C</td>
              <td width="54">41.0/C</td>
              <td width="48">41.0/C</td>
              <td width="70" >
            </td>
              <td width="75"></td>
              <td width="90">

                <button class="btn2">Confirmation</button>
              </td>

            </tr>
        </table >
        <table border="1"  width="1070px"  cellspacing='0'>
            <tr>
                <th  width="118px" class="style">
                    Spice Jet


                </th>
              <th width="63">Deal</th>
              <td width="39">250</td>
              <td width="65">76.00</td>
              <td width="40">46</td>
              <td width="60">41.04</td>
              <td width="60">10260.00</td>
              <td width="32">41.0/C</td>
              <td width="57">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="40">41./C</td>
              <td width="54">41.0/C</td>
              <td width="48">41.0/C</td>
              <td width="70" >
            </td>
              <td width="75"></td>
              <td width="90">

                <button class="btn2">Confirmation</button>
              </td>

            </tr>
        </table >
        <table border="1"  width="1070px"  cellspacing='0'>
            <tr>
                <th  width="118px" class="style">
                    Indigo Airline


                </th>
              <th width="63">Deal</th>
              <td width="39">250</td>
              <td width="65">76.00</td>
              <td width="40">46</td>
              <td width="60">41.04</td>
              <td width="60">10260.00</td>
              <td width="32">41.0/C</td>
              <td width="57">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="40">41./C</td>
              <td width="54">41.0/C</td>
              <td width="48">41.0/C</td>
              <td width="70" >
            </td>
              <td width="75"></td>
              <td width="90">

                <button class="btn2">Confirmation</button>
              </td>

            </tr>
        </table >
        <table border="1"  width="1070px"  cellspacing='0'>
            <tr>
                <th  width="118px" class="style">
                    Air China


                </th>
              <th width="63">Deal</th>
              <td width="39">250</td>
              <td width="65">76.00</td>
              <td width="40">46</td>
              <td width="60">41.04</td>
              <td width="60">10260.00</td>
              <td width="32">41.0/C</td>
              <td width="57">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="40">41./C</td>
              <td width="54">41.0/C</td>
              <td width="48">41.0/C</td>
              <td width="70" >
            </td>
              <td width="75"></td>
              <td width="90">

                <button class="btn2">Confirmation</button>
              </td>

            </tr>
        </table >

        <table border="1"  width="1070px"  cellspacing='0'>
            <tr>
                <th  width="118px" class="style">
                    Indigo Airline


                </th>
              <th width="63">Deal</th>
              <td width="39">250</td>
              <td width="65">76.00</td>
              <td width="40">46</td>
              <td width="60">41.04</td>
              <td width="60">10260.00</td>
              <td width="32">41.0/C</td>
              <td width="57">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="40">41./C</td>
              <td width="54">41.0/C</td>
              <td width="48">41.0/C</td>
              <td width="70" >
            </td>
              <td width="75"></td>
              <td width="90">

                <button class="btn2">Confirmation</button>
              </td>

            </tr>
        </table >
        <table border="1"  width="1070px"  cellspacing='0'>
            <tr>
                <th  width="118px" class="style">
                    Air Aisa


                </th>
              <th width="63">Deal</th>
              <td width="39">250</td>
              <td width="65">76.00</td>
              <td width="40">46</td>
              <td width="60">41.04</td>
              <td width="60">10260.00</td>
              <td width="32">41.0/C</td>
              <td width="57">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="40">41./C</td>
              <td width="54">41.0/C</td>
              <td width="48">41.0/C</td>
              <td width="70" >
            </td>
              <td width="75"></td>
              <td width="90">

                <button class="btn2">Confirmation</button>
              </td>

            </tr>
        </table >
        <table border="1"  width="1070px"  cellspacing='0'>
            <tr>
                <th  width="118px" class="style">
                    Emirates Sky
                    Cargo


                </th>
              <th width="63">Deal</th>
              <td width="39">250</td>
              <td width="65">76.00</td>
              <td width="40">46</td>
              <td width="60">41.04</td>
              <td width="60">10260.00</td>
              <td width="32">41.0/C</td>
              <td width="57">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="46">41.0/C</td>
              <td width="40">41./C</td>
              <td width="54">41.0/C</td>
              <td width="48">41.0/C</td>
              <td width="70" >
            </td>
              <td width="75"></td>
              <td width="90">

                <button class="btn2">Confirmation</button>
              </td>

            </tr>
        </table >

        <table border="1" width="1070px" cellspacing="0" height="200px">
            <tr>
            <td style="padding-top:15px;padding-left: 15px;padding-bottom: 15px;">
                <p style="font-size:12px;padding:0;margin: 0;">1. RATES QUOTED ARE VALID SUBJECT TO BOOKING AND ONWARDS SPACE CONFIRMATION FROM THE CARRIER.</p>
                <p style="font-size:12px;padding:0;margin: 0;"> 2. RATES HAVE BEEN QUOTED FOR GENERAL CARGO & PREPAID SHIPMENTS ORIGINATING EX:- DEL</p>
                <p style="font-size:12px;padding:0;margin: 0;">3. RATES QUOTED ON THE BASIS OF THE DETAILS SHARED IN THE QUERY, ANY VARIATIONS MAY LEAD TO CHANGE IN
                   RATES. </p>
                <p style="font-size:12px;padding:0;margin: 0;">4. RATES QUOTED ARE EXCLUDING OF SURCHARGES IF ANY APPLICABLE BY THE CARRIER.</p>
                <p style="font-size:12px;padding:0;margin: 0;"> 5. ALL INN RATES :- FREIGHT + FUEL SURCHARGE + WAR SURCHARGE + X-RAY + MISC + CARTAGE.</p>
                 <p style="font-size:12px;padding:0;margin: 0;">6. NET NET RATES (NN) :- ONLY AIR FREIGHT CHARGES INCLUDED. DUE CARRIER & AGENT CHARGES WILL BE
                   ADDITIONALY CHARGED.</p>
               <p style="font-size:12px;padding:0;margin: 0;">7. AWB + PCA + AMS (AS APPLICABLE) WOULD BE ADDITIONALY CHARGED.</p>
                <p style="font-size:12px;padding:0;margin: 0;">8. FOR ANY SPECIAL CARGO CONTACT OFFICE DESK.</p>
               <p style="font-size:12px;padding:0;margin: 0;">9. BEFORE EXECUTING ANY SHIPMENT YOU NEED TO HAVE A CONFIRMATION FROM YOUR RESPECTIVE CS BUDDY</p>
               <p style="font-size:12px;padding:0;margin: 0;"> 10. ALL DISPUTE ARE SUBJECT TO DELHI JURISDICTION.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="padding:3px;margin: 3px;">Regards,</p>
                <p style="padding:3px;margin: 3px;">S.A. Consultants & Forwarders Pvt. Ltd</p style="font-size:12px;padding:0;margin: 0;">
            </td>
        </tr>
        </table>

    </body>
</html>